<table class= "table">
  <thead>
    <tr>
      <th>案件名</th>
      <th>地域</th>
      <th>担当営業</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% project.each do |project| %>
    <tr>
      <th><%= project.title %></th>
      <th><%= project.region %></th>
      <th><%= project.salesman %></th>
      <th><%= link_to "詳細",project_path(project),class: "btn btn-primary" %></th>
    <% end %>
    </tr>
  </tbody>
</table>