<table class= "table">
  <thead>
    <tr>
      <th>案件名</th>
      <th>地域</th>
      <th>担当営業</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% project.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.region %></td>
      <td><%= project.salesman %></td>
      <td><%= link_to "詳細",project_path(project),class: "btn btn-primary" %></td>
    <% end %>
    </tr>
  </tbody>
</table>