<div class= "container">
  <div class= "card shadow">
    <div class= "card-body">
      <div class= "input-group">
        <h5 class= "card-text mr-3">詳細検索<i class="fa fa-search"></i></h5>
         <%= render 'form' %>
      </div>
      <strong><%= flash[:alert] %></strong>
    </div>
  </div>
  <div class= "card shadow">
    <div class= "card-body">
      <h5>案件一覧</h5>
      <%= render 'index', project: @projects %>
    </div>
  </div>
</div>