<div class= "container">
  <div class= "card shadow">
    <div class= "card-body">
      <div class= "input-group">
        <h5 class= "card-text">詳細検索<i class="fa fa-search"></i></h5>
         <%= render 'form' %>
         <%= flash[:alert] %>
      </div>
    </div>
  </div>
  <div class= "card shadow">
    <div class= "card-body">
      <% if @records.present?%>
        <h5 class= "card-text">検索結果</h5>
        <%= flash[:result] %>
        <%= render 'index',project: @records %>
      <% else %>
        <p>検索結果はありません</p>
      <% end %>
    </div>
  </div>
</div>