<div class= "container">
  <div class= "card shadow">
    <div class= "card-body">
      <div class= "input-group">
        <h5 class= "card-text mr-3">詳細検索<i class="fa fa-search"></i></h5>
         <%= render 'form',keyword: @keyword,salesman: @salesman,region: @region,date: @date,tag_ids: @tag_ids %>
      </div>
      <strong><%= flash[:alert] %></strong>
    </div>
  </div>
  <div class= "card shadow">
    <div class= "card-body">
      <% if @result.present?%>
        <h5 class= "card-text">検索結果</h5>
        <p>検索結果は以下のとおりです</p>
        <%= render 'index',project: @result %>
      <% else %>
        <h5 class= "card-text">検索結果</h5>
        <p>検索結果はありません</p>
      <% end %>
    </div>
  </div>
</div>