<table class= "table">
  <thead>
    <tr>
      <th>案件名</th>
      <th>顧客名</th>
      <th>地域</th>
      <th>担当営業</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% project.each do |project| %>
    <tr>
      <td><%= link_to project.title,admin_project_path(project) %></td>
      <td><%= project.customer %></td>
      <td><%= project.region %></td>
      <td><%= project.salesman %></td>
    <% end %>
    </tr>
  </tbody>
</table>