<div class= "container">
  <div class= "card shadow">
    <div class= "card-body">
      <h3><%= flash[:alert] %></h3>
      <div class= "input-group">
        <h5 class= "card-text mr-3">詳細検索<i class="fa fa-search search_icon"></i></h5>
         <%= render 'form',keyword: @keyword,salesman: @salesman, customer: @customer,region: @region,date: @date, registration_number: @registration_number,body_number: @body_number,vehicle_type: @vehicle_type,lease_type: @lease_type,body_shop: @body_shop,insurance: @insurance,end_year: @end_year,end_month: @end_month,end_day: @end_day,tag_ids: @tag_ids %>
      </div>
    </div>
  </div>
  <div class= "card shadow">
    <div class= "card-body">
      <h5 class= "card-text">検索結果</h5>
        <% if @result.present?%>
          <p>検索結果は以下のとおりです</p>
          <%= render 'index',project: @result %>
        <% else %>
          <p>検索結果はありません</p>
        <% end %>
    </div>
  </div>
</div>
