<table class ="table">
  <thead>
    <tr>
      <th>案件名</th>
      <th>顧客名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if projects.present? %>
      <% projects.each do |project| %>
        <tr>
          <td><%= link_to project.title,project, class: "project_#{project.id}" %></td>
          <td><%= project.customer %></td>
              <% if member == current_member %>
          <td><%= link_to "編集",edit_project_path(project), class: "btn btn-sm edit_project_#{project.id} edit_btn" %> </td>
              <% end %>
      <% end %>
        </tr>
    <% else %>
      <p>投稿した案件はありません</p>
    <% end %>
  </tbody>
</table>