* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.down_btn {
  color:#583f99;
}

.flash_success {
  background:#8ac75a;
  text-align: center;
}

.flash_notice {
  background:#84ccce;
  text-align: center;
}

.flash_alert {
  background:#fff100;
  text-align: center;
}

body {
  font-family: 'Klee One', cursive;
}

.sign_up_btn  {
 background: linear-gradient(#cae5d3, #aed265);
}

.log_in_btn {
 background: linear-gradient(#bde1da, #00b4b6);
}

.crown {
  color:#ffcc4e;
}

.fc table{
  background-color: #fff;
  pointer-events:none
}

.fc-button {
  background-color: #c7b2d6;
}
.fc-day-sat {
  background-color: #eaf4ff;
 }

 .fc-day-sun {
  background-color: #ffeaea;
 }

.btn_link {
  text-decoration: none;
  color:#343a40 ;
}
.edit_btn {
  background: linear-gradient(#b2d235, #d3e9d0);
}

.update_btn {
  background: linear-gradient(#e0f1f4, #84ccce);
}

.danger_btn {
  background: linear-gradient(#aa998a, #eadfca);
}
.new_btn  {
 background: linear-gradient(#cae5d3, #aed265);
}

.comment_btn {
  background: linear-gradient(#fcebef, #ef8bb6);
}

.tag_btn {
  background-color: #bba5e1;
}

.search_icon {
  color:#b9c9c9;
}

ul {
  list-style: none;
}
