* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fc table{
  background-color: #fff;
 }
.fc-button {
  background-color: #c7b2d6;
}
.fc-day-sat {
  background-color: #eaf4ff;
 }

 .fc-day-sun {
  background-color: #ffeaea;
 }

