* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.down_button {
  color:#583f99;
}
body {
  font-family: 'Klee One', cursive;
}

.fc table{
  background-color: #fff;
 }
.fc-button {
  background-color: #c7b2d6;
}
.fc-day-sat {
  background-color: #eaf4ff;
 }

 .fc-day-sun {
  background-color: #ffeaea;
 }

ul {
  list-style: none;
}