<div class= "text-center">
  <%= image_tag 'main.jpg',size:"1280x720"%>
</div>
<div class= "text-center">
  <h3>About us</h3>
  <p>「似た案件過去に対応したけど、どこやったかな…」<br>大丈夫。SEARCHCTがあれば万事解決します。</p>
</div>
<div class= "text-center">
  <%= image_tag 'sub.jpg',size:"1280x720"%>
</div>