<div class = "table-resposive-sm">
  <table class= "table table-bordered" style = "background-color: #fff">
    <thead>
      <tr>
        <th scope= "col" class="text-nowrap">閲覧数</th>
        <th scope= "col" class="text-nowrap">案件名</th>
        <th scope= "col" class="text-nowrap">顧客名</th>
        <th scope= "col" class="text-nowrap">地域</th>
      </tr>
    </thead>
    <tbody>
         <% project.each do |project| %>
      <tr>
        <td><%= project.view_counts.count %></td>
        <td scope= "col" class="text-nowrap"><%= link_to project.title, project, class: "project_#{project.id}"%></td>
        <td scope= "col" class="text-nowrap"><%= project.customer %></td>
        <td scope= "col" class="text-nowrap"><%= project.region %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>