<div class= "container">
  <div class= "row">
    <div class= "col-12 col-lg-8">
      <br><h4>案件閲覧数ランキング</h4>
        <%= render 'index',project: @projects%>
    </div>
    <div class= "col-12 col-lg-4">
      <%= render 'public/events/index' %>
    </div>
  </div>
</div>