<div class= "container">
  <div class= "row">
    <div class= "col-8">
      <div class= "card shadow">
        <div class= "card-body">
          <h4>案件閲覧数ランキング</h4>
            <%= render 'index',project: @projects%>
        </div>
      </div>
    </div>
    <div class= "col-4">
      <%= render 'public/events/index' %>
    </div>
  </div>
</div>