<br><footer>
  <div class='container-fluid position: fixed;' style= "background-color: #c0c6c9">
  	<div class='row'>
    	<div class='mx-auto'>
    	  <p>SEARCHCT</p>
    	</div>
     </div>
  </div>
</footer>